html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #272822;
    color: #FEFEFE;
}

#file-wrapper {
	transition:all 0.5s ease;
}

#file-wrapper:hover {
	opacity: 1!important;
}

#visualizer-wrapper {
	text-align: center;
}

footer {
	position: fixed;
	bottom: 2px;
	color:#aaa;
}